<style>
  ._tc-cover {
    position: fixed;
    pointer-events: none;
    z-index: 999999;
    background: rgba(32, 114, 205, 0.5);
  }

  ._tc-cover-info {
    position: absolute;
    width: 320px;
    height: auto;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 12px;
    color: black;
    background-color: #fff;
    box-shadow: black 0px 0px 6px;
    box-sizing: border-box;
    padding: 4px;
  }

  ._tc-top-info {
    top: 0;
    transform: translateY(-100%);
  }

  ._tc-bottom-info {
    top: 100%;
  }

  ._tc-top-inner-info {
    top: 0;
  }

  ._tc-bottom-inner-info {
    bottom: 0;
  }

  ._tc-left-info {
    left: 0;
  }

  ._tc-right-info {
    right: 0;
  }

  ._tc-node-name {
    color: coral;
    font-weight: bold;
    font-size: 14px;
  }

  ._tc-node-class-name {
    color: dodgerblue;
  }

  #_tc-control-suspension {
    position: fixed;
    z-index: 99999999;
    height: 25px;
    width: 60px;
    background-color: LightSlateGray;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    top: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #fff;
  }
</style>
<div class="_tc-cover" id="_tc-cover">
  <div id="_tc-cover-info"></div>
</div>
<div id="_tc-control-suspension" draggable="true">Tracker</div>
<script>
  const InjectLineName = '_tc-row' // 注入的行名称
  const InjectColumnName = '_tc-col' // 注入的列名称
  const InjectPathName = '_tc-path' // 注入的路径名称
  const InjectCoverName = '_tc-cover' // 遮罩层id
  const InjectCoverInfoName = '_tc-cover-info' // 遮罩层id
  const InjectNodeName = '_tc-node' // 注入的节点名称
  // 功能是否开启
  let is_tracking = false
  // 当前控制器是否在拖拽
  let is_drag = false
  // 当前控制器位置
  let last_control_X = 0
  let last_control_Y = 0
  let last_pointer_X = 0
  let last_pointer_Y = 0
  // 控制器是否被移动了
  let has_control_be_moved = false

  // 鼠标移到有对应信息组件时，显示遮罩层
  function setCover(targetNode) {
    const coverDom = document.querySelector('#' + InjectCoverName)
    const targetLocation = targetNode.getBoundingClientRect()
    const browserHeight = document.documentElement.clientHeight // 浏览器高度
    const browserWidth = document.documentElement.clientWidth // 浏览器宽度
    coverDom.style.top = `${targetLocation.top}px`
    coverDom.style.left = `${targetLocation.left}px`
    coverDom.style.width = `${targetLocation.width}px`
    coverDom.style.height = `${targetLocation.height}px`
    const bottom = browserHeight - targetLocation.top - targetLocation.height // 距浏览器视口底部距离
    const right = browserWidth - targetLocation.left - targetLocation.width // 距浏览器右边距离
    const file = targetNode.getAttribute(InjectPathName)
    const node = targetNode.getAttribute(InjectNodeName)
    const line = targetNode.getAttribute(InjectLineName)
    const column = targetNode.getAttribute(InjectColumnName)

    const coverInfoDom = document.querySelector('#' + InjectCoverInfoName)
    const classInfoVertical =
      targetLocation.top > bottom
        ? targetLocation.top < 100
          ? '_tc-top-inner-info'
          : '_tc-top-info'
        : bottom < 100
        ? '_tc-bottom-inner-info'
        : '_tc-bottom-info'
    const classInfoHorizon = targetLocation.left >= right ? '_tc-left-info' : '_tc-right-info'
    const classList = targetNode.classList
    let classListSpans = ''
    classList.forEach((item) => {
      classListSpans += ` <span class="_tc-node-class-name">\.${item}</span>`
    })
    coverInfoDom.className = `_tc-cover-info ${classInfoHorizon} ${classInfoVertical}`
    coverInfoDom.innerHTML = `<div><span class="_tc-node-name">${node}</span>${classListSpans}<div/><div>路径:${file}</div><div>行号:${line}</div>`
  }

  // 键盘抬起时清除遮罩层
  function resetCover() {
    const coverDom = document.querySelector('#' + InjectCoverName)
    coverDom.style.top = '0'
    coverDom.style.left = '0'
    coverDom.style.width = '0'
    coverDom.style.height = '0'
    const coverInfoDom = document.querySelector('#' + InjectCoverInfoName)
    coverInfoDom.innerHTML = ''
    coverInfoDom.className = ''
  }

  // 请求本地服务端，打开vscode
  function CodeTracker(targetNode) {
    const file = targetNode.getAttribute(InjectPathName)
    const line = targetNode.getAttribute(InjectLineName)
    const column = targetNode.getAttribute(InjectColumnName)
    const url = `http://localhost:__PORT__/?file=${file}&line=${line}&column=${column}`
    fetch(url).then((res) => {
      // console.log('编辑器已经打开!')
    })
  }

  // 功能开关
  function clickControl(e) {
    let dom = e.target
    if (dom.id === '_tc-control-suspension') {
      if (is_tracking) {
        is_tracking = false
        dom.style.backgroundColor = 'LightSlateGray'
        console.log('Code-Tracker功能关闭')
      } else {
        is_tracking = true
        dom.style.backgroundColor = 'Blue'
        console.log('Code-Tracker功能打开')
      }
    }
  }

  // 鼠标移动时
  window.addEventListener('mousemove', function (e) {
    if (is_tracking) {
      const nodePath = e.path
      let targetNode
      if (nodePath[0].id === '_tc-control-suspension') {
        resetCover()
      }
      // 寻找第一个有_tc-path属性的元素
      for (let i = 0; i < nodePath.length; i++) {
        const node = nodePath[i]
        if (node.hasAttribute && node.hasAttribute(InjectPathName)) {
          targetNode = node
          break
        }
      }
      if (targetNode) {
        setCover(targetNode)
      }
    }
  })

  // 按下对应功能键点击页面时，在捕获阶段
  window.addEventListener(
    'click',
    function (e) {
      if (is_tracking) {
        const nodePath = e.path
        let targetNode
        // 寻找第一个有_tc-path属性的元素
        for (let i = 0; i < nodePath.length; i++) {
          const node = nodePath[i]
          if (node.hasAttribute && node.hasAttribute(InjectPathName)) {
            targetNode = node
            break
          }
        }
        if (targetNode) {
          // 阻止冒泡
          e.stopPropagation()
          // 阻止默认事件
          e.preventDefault()
          // 唤醒 vscode
          CodeTracker(targetNode)
        }
      }
    },
    true
  )

  // 监听是否发生拖拽事件
  window.addEventListener('mousedown', function (e) {
    e.preventDefault()
    let dom = e.target
    if (dom.id === '_tc-control-suspension') {
      is_drag = true
      last_control_X = dom.offsetLeft
      last_control_Y = dom.offsetTop
      last_pointer_X = e.clientX
      last_pointer_Y = e.clientY
    }
  })

  // 控制器拖拽过程
  window.addEventListener('mousemove', function (e) {
    const control = document.getElementById('_tc-control-suspension')
    if (is_drag) {
      has_control_be_moved = true
      control.style.left = last_control_X + (e.clientX - last_pointer_X) + 'px'
      control.style.top = last_control_Y + (e.clientY - last_pointer_Y) + 'px'
    }
  })

  // 控制器拖拽结束
  window.addEventListener('mouseup', function (e) {
    is_drag = false
    last_control_X = 0
    last_control_Y = 0
    last_pointer_X = 0
    last_pointer_Y = 0
  })

  const __suspension_control = document.getElementById('_tc-control-suspension')
  __suspension_control.addEventListener('click', function (e) {
    if (!has_control_be_moved) {
      clickControl(e)
    } else {
      has_control_be_moved = false
    }
  })
</script>
